body {
  font-family: 'Noto Sans', sans-serif;
  color: #333;
  font-size: 12px;
}

/**  custom bootstrap - start */
.btn {
  border-radius: 25px;
  border-color: #ddd;
}

.btn:hover {
  border: solid 1px #bbb;
  background-color: #fff;
}

.btn:active {
  background-color: #f9f9f9;
  border: solid 1px #bbb;
  outline: none;
}

.btn:disabled {
  background-color: #f9f9f9;
  border: solid 1px #ddd;
  color: #bbb;
}

.btn:focus:active,
.btn:focus,
.btn:active {
  outline: none;
}

svg {
  pointer-events: none;
}

.move-day,.move-today {
  border: none;
  background-color: transparent;
}

.render-range {
  padding-left: 12px;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
}

/** custom fontawesome */
.fa {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.checkbox-label {
  cursor: pointer;
}


.container {
  text-align: center;
}
